/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

#container                  {
                            width: 600px;
                            height: auto;
                            margin: 0 auto;
                            border: 1px solid #797066;
                            }
                               
#topbar                     {
                            width: 100%;
                            height: 10px;
                            background-color: #51473D;
                            text-align: right;
                            font-family: verdana;
                            font-size: 10px;
                            font-style: italic;
                            color: #EAE7D2;
                            padding-top: 5px;
                            padding-bottom: 5px;
                            }
                            
body #menu a                {
                            visibility: hidden;
                            }
                               
#menu                       {
                            visibility: visible;
                            width: 100%;
                            height: 240px;
                            background-color: #51473D;
                            background-image: URL('css/pics/coffey.jpg');
                            background-repeat: no-repeat;
                            font-family: verdana;
                            font-size: 12px;
                            }
                               
#menu ul                    {
                            list-style-type: none;
                            margin-left: 10px;
                            padding: 0px;
                            margin-top: 195px;
                            }
                            
#menu ul li                 {
                            float: left;
                            }
                                   
#menu ul li a               {
                            visibility: initial;
                            height: 21px;
                            margin-left: 1px;
                            padding: 9px 20px 0px 20px;
                            text-decoration: none;
                            display: block;
                            }
                            
#menu ul li a::first-letter {
                            text-transform: uppercase;
                            }
                               
#menu ul li a:link          {
                            background-color: #797066;
                            color: #EAE7D2;
                            }
                               
#menu ul li a:visited       {
                            background-color: #797066;
                            color: #EAE7D2;
                            }
                            
#menu ul li a:hover         {
                            background-color: #9C9084;
                            color: #EAE7D2;
                            }
                            
#menu .active a:link        {
                            background-color: #EAE7D2;
                            color: #51473D;
                            border-bottom: 1px solid #EAE7D2;
                            }
                            
#content                    {
                            margin-top: 1px;
                            overflow: auto;
                            padding: 20px 10px 15px 10px;
                            background-color: #EAE7D2;
                            }
                            
#maincontent                {
                            width: 330px;
                            height: auto;
                            border-right: 1px dashed #C0C0C0;
                            font: 14px arial;
                            color: #797066;
                            float: left;
                            padding-right: 10px;
                            padding-bottom: 10px;
                            line-height: 1.5;
                            }
                            
#maincontent h1             {
                            margin: 0px;
                            padding-bottom: 10px;
                            font: 32px 'Times New Roman';
                            color: #797066;
                            }
                    
#maincontent p              {
                            margin: 0;
                            }
                            
#subcontent                 {
                            width: auto;
                            font: 10px verdana;
                            color: #797066;
                            margin-left: 355px;
                            line-height: 2;
                            }
                            
#subcontent h1              {
                            font: 16px 'Times New Roman';
                            color: #51473D;
                            }
                            
#subcontent h2              {
                            font: 14px 'Times New Roman';
                            color: #51473D;
                            margin-top: 30px;
                            margin-bottom: 0;
                            }
                            
#subcontent ul              {
                            list-style-type: none;
                            font: 12px verdana;
                            padding: 0px;
                            line-height: 2;
                            margin: 0;
                            }
                            
#subcontent ul li a:link    {
                            color: #51473D;
                            }
                            
img                         {
                            float: left;
                            padding-right: 5px;
                            }
                            
#bottomcontent              {
                            clear: both;
                            font: 10px verdana;
                            color: #797066;
                            font-style: italic;
                            }
                            

                               
                               
